.container {
  margin: auto;
  max-width: 95vw;
  height: 100vh;
}

.table {
  border-collapse: collapse;
  margin: auto;
  text-align: center;
  width: 50vw;
}

tbody tr:nth-child(odd) {
  background-color: #353434; /* zebra stripes */
}

th, td {

}

td:first-child, th:first-child {
  color: red;
}

td {
  border: 0.25px solid white;
}
.input-container {
  margin: auto;
  padding: 25px;
  width: 200px;

}
.input {
  position: relative;
  background-color: #454545;
  font-family: inherit;
  width: 20em;
  line-height: 1.25em;
  font-size: medium;
  color: white;
  border: 1px solid white;
}

