.container {
  margin: auto;
  max-width: 85vw;
  background-color: grey;
}
.table {
  border-collapse: collapse;
  margin: auto;
  text-align: center;
  width: 50vw;
}
th, td {

}
td {
  border: 0.25px solid white;
}
